client/services/src/routes/**/*.* linguist-generated
client-seo/services/src/routes/**/*.* linguist-generated
server/services/src/libs/routes/**/*.* linguist-generated
**/*.generated.* linguist-generated