version: '3.7'

services: 
  # Set up client container
  client:
    build: 
      context: ./client
      target: base
      args: 
        GRAPHQL_END_POINT: ${GRAPHQL_END_POINT}
        BIT_NPM_TOKEN: ${BIT_NPM_TOKEN}
    command: yarn start
    ports:
      - ${CLIENT_PORT}:${CLIENT_PORT}  
    environment:
      PORT: ${CLIENT_PORT}
    volumes:
      - ./client/src:/usr/src/app/src
      - ./client/node_modules:/usr/src/app/node_modules
    links:
      - graphql

  # Set up server container
  graphql:
    build: 
      context: ./graphql
      target: base
      args: 
        BIT_NPM_TOKEN: ${BIT_NPM_TOKEN}
    command: yarn start
    ports:
      - ${GRAPHQL_PORT}:${GRAPHQL_PORT}
    environment:
      PRISMA_ENDPOINT: ${PRISMA_ENDPOINT}
      SERVER_NAME: ${SERVER_NAME}
      JWT_SECRET: ${JWT_SECRET}
      PORT: ${GRAPHQL_PORT}
    volumes:
      - ./graphql/src:/usr/src/app/src
      - ./graphql/node_modules:/usr/src/app/node_modules
    depends_on:
      - prisma

  # Set up load balancer container
  reverse-proxy:
    build: 
      context: ./reverse-proxy
    tty: true
    links:
        - client
        - graphql
    environment:
      REVERSE_PROXY_SERVER_NAME: ${REVERSE_PROXY_SERVER_NAME}
      CLIENT_SERVICE_NAME: ${CLIENT_SERVICE_NAME}
      CLIENT_PORT: ${CLIENT_PORT}
      CLIENT_URL_PATH: ${CLIENT_URL_PATH}
      GRAPHQL_SERVICE_NAME: ${GRAPHQL_SERVICE_NAME}
      GRAPHQL_PORT: ${GRAPHQL_PORT}
      GRAPHQL_URL_PATH: ${GRAPHQL_URL_PATH}
    ports:
        - 80:80
        - 443:443

  # Set up database server
  database:
    image: mysql:5.7
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_PORT=${MYSQL_PORT}
    volumes:
      - database:/var/lib/mysql
    expose: 
      - ${MYSQL_PORT}
    ports:
      - ${MYSQL_PORT}:${MYSQL_PORT}

  # Set up prisma client
  prisma:
    image: prismagraphql/prisma:1.33
    restart: always
    ports:
      - ${PRISMA_PORT}:${PRISMA_PORT}
    environment:
      PRISMA_CONFIG: |
        port: ${PRISMA_PORT}
        databases:
          default:
            connector: mysql
            host: ${DATABASE_SERVICE_NAME}
            port: ${MYSQL_PORT}
            user: root
            password: ${MYSQL_ROOT_PASSWORD}
            migrations: true

volumes:
  database: